/***** medium Layout *****/

@media (min-width: 992px) and (max-width: 1200px) {
    .service-right {
        font-size: 12px;
        font-weight: 700;
    }

    .support-box ul li {
        width: 24.2%;
    }
}

/***** Tablet Layout *****/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .support-box ul li {
        width: 48.6%;
        margin-bottom: 10px;
    }
}

/***** Mobile Layout *****/

@media only screen and (max-width: 767px) {

    .header-top,
    .support-box {
        display: none;
    }

    .menu-container {
        background-color: transparent;
        padding: 0;
        margin-top: 0;
    }

    .logo img {
        margin-top: 30px;
        width: 150px;
    }

    /* menu start */
    .navbar-header > label,
    .switch,
    .menu-container label {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu-switcher:checked + #navbar {
        display: block;
        padding: 15px 0;
    }

    .menu-container {
        float: left;
        width: 100%;
    }

    #navbar ul {
        width: 100% !important;
        margin: 0;
    }

    #navbar ul li {
        width: 100%;
        float: left;
        margin: 0 !important;
        text-align: left;
    }

    #navbar ul li a {
        color: #fff;
        display: block;
        padding: 10px 0;
        margin: 0 20px;
    }

    #navbar {
        width: 100%;
        float: left;
        height: auto;
        position: absolute;
        top: 70px;
        z-index: 999;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
    }

    /* menu end */

    .pro-title {
        margin-top: 20px;
        padding: 15px 10px;
        text-align: center;
    }

    .product-dec p,
    .copy-right p {
        font-size: 13px !important;
    }

    .csslider ul li img {
        width: auto;
        height: 300px;
    }

    .rt-container {
        width: auto;
    }

    .product-wraper {
        padding: 40px 0;
    }

    .product-dec {
        padding: 10px;
    }

    .product-dec h2,
    .pro-title h3,
    .product-dec h3,
    .product-dec h4,
    .single-care h3 {
        font-size: 18px;
    }
}

/***** Wide Mobile Layout *****/

@media only screen and (min-width: 480px) and (max-width: 767px) {}
